In [327]:
import pandas as pd
import numpy as np

In [328]:
data_may_04_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt")
data_may_11_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190511.txt")
data_may_18_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190518.txt")
data_may_25_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190525.txt")
data_jun_06_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190601.txt")
data_jun_08_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt")
data_jun_15_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt")
data_apr_27_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190427.txt")

In [330]:
#all_data = pd.concat([data_may_04_19, data_may_11_19], ignore_index=True)
all_data = pd.concat([data_may_04_19, data_may_11_19, data_may_18_19, data_may_25_19, data_jun_06_19, data_jun_08_19, data_jun_15_19, data_apr_27_19], ignore_index=True)
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640586 entries, 0 to 1640585
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1640586 non-null  object
 1   UNIT                                                                  1640586 non-null  object
 2   SCP                                                                   1640586 non-null  object
 3   STATION                                                               1640586 non-null  object
 4   LINENAME                                                              1640586 non-null  object
 5   DIVISION                                                              1640586 non-null  object
 6   DATE                                                                  1640586 non-null  object
 7   TIME                                                                  1640586 non-null  object
 8   DESC                                                                  1640586 non-null  object
 9   ENTRIES                                                               1640586 non-null  int64
 10  EXITS                                                                 1640586 non-null  int64
dtypes: int64(2), object(9)
memory usage: 137.7+ MB

In [331]:
# Add new variables and sort
all_data = all_data[all_data['DESC'] == 'REGULAR']
all_data['datetime'] = pd.to_datetime(all_data['DATE'] + ' ' + all_data['TIME'])
all_data['turnstile'] = all_data['C/A'] + all_data['UNIT'] + all_data['SCP'] + all_data['STATION']
all_data.sort_values(by = ['turnstile', 'datetime'], inplace = True)

In [334]:
# Clean entry and exit data
all_data.rename(columns={'EXITS                                                               ': 'EXITS'}, inplace=True)

# added absolute value
all_data['entries_diff'] = all_data.groupby('turnstile')['ENTRIES'].diff().abs()
all_data['exits_diff'] = all_data.groupby('turnstile')['EXITS'].diff().abs()

indexNames = all_data[(all_data['entries_diff'] > 10000 ) | (all_data['exits_diff'] > 10000)].index
all_data_clean = all_data.drop(indexNames)
all_data_clean.groupby(['STATION', 'DATE']).sum(['entries_diff', 'exits_diff']).sort_values('entries_diff', ascending = False)

all_data_clean['total_foot_traffic'] = all_data_clean['entries_diff'] + all_data_clean['exits_diff']
all_data_clean['day_of_week'] = all_data_clean['datetime'].dt.day_name()
all_data_clean.head(25)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,datetime,turnstile,entries_diff,exits_diff,total_foot_traffic,day_of_week
1436729,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,00:00:00,REGULAR,7026702,2382234,2019-04-20 00:00:00,A002R05102-00-0059 ST,NaN,NaN,NaN,Saturday
1436730,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,04:00:00,REGULAR,7026719,2382240,2019-04-20 04:00:00,A002R05102-00-0059 ST,17.0,6.0,23.0,Saturday
1436731,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,08:00:00,REGULAR,7026737,2382269,2019-04-20 08:00:00,A002R05102-00-0059 ST,18.0,29.0,47.0,Saturday
1436732,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,12:00:00,REGULAR,7026814,2382335,2019-04-20 12:00:00,A002R05102-00-0059 ST,77.0,66.0,143.0,Saturday
1436733,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,16:00:00,REGULAR,7027007,2382395,2019-04-20 16:00:00,A002R05102-00-0059 ST,193.0,60.0,253.0,Saturday
1436734,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,20:00:00,REGULAR,7027293,2382427,2019-04-20 20:00:00,A002R05102-00-0059 ST,286.0,32.0,318.0,Saturday
1436735,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,00:00:00,REGULAR,7027457,2382455,2019-04-21 00:00:00,A002R05102-00-0059 ST,164.0,28.0,192.0,Sunday
1436736,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,04:00:00,REGULAR,7027469,2382456,2019-04-21 04:00:00,A002R05102-00-0059 ST,12.0,1.0,13.0,Sunday
1436737,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,08:00:00,REGULAR,7027479,2382471,2019-04-21 08:00:00,A002R05102-00-0059 ST,10.0,15.0,25.0,Sunday
1436738,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,12:00:00,REGULAR,7027568,2382520,2019-04-21 12:00:00,A002R05102-00-0059 ST,89.0,49.0,138.0,Sunday
1436739,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,16:00:00,REGULAR,7027745,2382567,2019-04-21 16:00:00,A002R05102-00-0059 ST,177.0,47.0,224.0,Sunday
1436740,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/21/2019,20:00:00,REGULAR,7027967,2382613,2019-04-21 20:00:00,A002R05102-00-0059 ST,222.0,46.0,268.0,Sunday
1436741,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,00:00:00,REGULAR,7028053,2382642,2019-04-22 00:00:00,A002R05102-00-0059 ST,86.0,29.0,115.0,Monday
1436742,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,04:00:00,REGULAR,7028064,2382644,2019-04-22 04:00:00,A002R05102-00-0059 ST,11.0,2.0,13.0,Monday
1436743,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,08:00:00,REGULAR,7028094,2382704,2019-04-22 08:00:00,A002R05102-00-0059 ST,30.0,60.0,90.0,Monday
1436744,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,12:00:00,REGULAR,7028239,2382891,2019-04-22 12:00:00,A002R05102-00-0059 ST,145.0,187.0,332.0,Monday
1436745,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,16:00:00,REGULAR,7028527,2382953,2019-04-22 16:00:00,A002R05102-00-0059 ST,288.0,62.0,350.0,Monday
1436746,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/22/2019,20:00:00,REGULAR,7029134,2383007,2019-04-22 20:00:00,A002R05102-00-0059 ST,607.0,54.0,661.0,Monday
1436747,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,00:00:00,REGULAR,7029313,2383025,2019-04-23 00:00:00,A002R05102-00-0059 ST,179.0,18.0,197.0,Tuesday
1436748,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,04:00:00,REGULAR,7029327,2383030,2019-04-23 04:00:00,A002R05102-00-0059 ST,14.0,5.0,19.0,Tuesday
1436749,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,08:00:00,REGULAR,7029369,2383125,2019-04-23 08:00:00,A002R05102-00-0059 ST,42.0,95.0,137.0,Tuesday
1436750,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,12:00:00,REGULAR,7029510,2383321,2019-04-23 12:00:00,A002R05102-00-0059 ST,141.0,196.0,337.0,Tuesday
1436751,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,16:00:00,REGULAR,7029811,2383378,2019-04-23 16:00:00,A002R05102-00-0059 ST,301.0,57.0,358.0,Tuesday
1436752,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/23/2019,20:00:00,REGULAR,7030611,2383432,2019-04-23 20:00:00,A002R05102-00-0059 ST,800.0,54.0,854.0,Tuesday
1436753,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/24/2019,00:00:00,REGULAR,7030821,2383462,2019-04-24 00:00:00,A002R05102-00-0059 ST,210.0,30.0,240.0,Wednesday

In [335]:
df_weekday = all_data_clean.groupby(['STATION']).sum(['total_foot_traffic'])
df_weekday.sort_values(['total_foot_traffic'], ascending = False).head(50)

,ENTRIES,EXITS,entries_diff,exits_diff,total_foot_traffic
STATION,,,,,
34 ST-PENN STA,1320184649158,1395096774001,8215058.0,7551130.0,15766188.0
GRD CNTRL-42 ST,883735077669,1101475879710,7162035.0,6568945.0,13730980.0
34 ST-HERALD SQ,1566137770660,1963907924717,6129269.0,5610908.0,11740177.0
TIMES SQ-42 ST,2076660452334,1599271654399,5103711.0,4735188.0,9838899.0
14 ST-UNION SQ,240992656454,126495142802,5091185.0,4716003.0,9807188.0
23 ST,1688831497641,1457910805183,5490025.0,3956051.0,9446076.0
42 ST-PORT AUTH,2641286638869,2161924758535,5243505.0,4172865.0,9416370.0
FULTON ST,1541282674973,1574881353108,4625623.0,3920938.0,8546561.0
86 ST,827928707815,893301512906,4256258.0,3897890.0,8154148.0
125 ST,2234655062307,1291510685199,4000657.0,3243642.0,7244299.0
CANAL ST,1367331558995,1836389977675,3806603.0,3009991.0,6816594.0
59 ST COLUMBUS,1142321221007,1001502007380,3601743.0,2941061.0,6542804.0
59 ST,1359040921585,784357144691,3199268.0,2807085.0,6006353.0
14 ST,1534417885704,1082727638841,3160463.0,2637962.0,5798425.0
47-50 STS ROCK,768054540156,766024230834,2828958.0,2913738.0,5742696.0
96 ST,315008106063,59518573505,3174298.0,2537578.0,5711876.0
CHAMBERS ST,1700396454149,1500459000573,2733405.0,2329086.0,5062491.0
FLUSHING-MAIN,73117671929,69913429263,2706627.0,2280689.0,4987316.0
72 ST,1201767232038,1587178830641,2477393.0,2362085.0,4839478.0
PATH NEW WTC,1405276718,1619335998,2494496.0,2273232.0,4767728.0
50 ST,135451490625,124699645682,2544878.0,2021634.0,4566512.0
JKSN HT-ROOSVLT,55516698252,41370215916,2571798.0,1952437.0,4524235.0
28 ST,430876443418,545998686627,2276646.0,2052122.0,4328768.0
W 4 ST-WASH SQ,84753460977,39957864595,2218250.0,2007635.0,4225885.0
ATL AV-BARCLAY,313566064413,91769005504,2183175.0,2015855.0,4199030.0
LEXINGTON AV/53,904728103644,1147846464444,1975341.0,2023881.0,3999222.0
7 AV,77886389876,51825009312,1972454.0,1763760.0,3736214.0
WALL ST,204221742654,126546930123,2005128.0,1726517.0,3731645.0
42 ST-BRYANT PK,560037403083,406962557827,1810913.0,1733090.0,3544003.0
145 ST,320075371518,667128323241,1764809.0,1531994.0,3296803.0
8 AV,68610335596,32095283594,1810269.0,1384697.0,3194966.0
JAY ST-METROTEC,185111386386,27449789653,1951632.0,1215246.0,3166878.0
CHURCH AV,444995597917,582260690283,1777085.0,1302641.0,3079726.0
57 ST-7 AV,21980443004,8938755131,1732543.0,1324091.0,3056634.0
JAMAICA CENTER,465458723853,32485718834,1587002.0,1420302.0,3007304.0
77 ST,97435686757,40958909570,1518945.0,1330722.0,2849667.0
72 ST-2 AVE,46046381455,5938665355,1498117.0,1322704.0,2820821.0
GRAND ST,107728056211,494284211456,1564678.0,1217710.0,2782388.0
BOROUGH HALL,67860299958,22469447145,1650811.0,1116994.0,2767805.0
BOWLING GREEN,798774029861,538787751129,1389061.0,1282872.0,2671933.0
JOURNAL SQUARE,1563080250,894384687,1292193.0,1344799.0,2636992.0
116 ST,198655207701,192893670235,1658707.0,975606.0,2634313.0
B'WAY-LAFAYETTE,670093441078,544469386631,1110218.0,1482363.0,2592581.0
5 AV/53 ST,35890225610,40059878351,1218022.0,1343608.0,2561630.0
103 ST,60817514365,215653679397,1491634.0,1056511.0,2548145.0
KINGS HWY,727272350005,701085965691,1336070.0,1180436.0,2516506.0
DELANCEY/ESSEX,25582312454,21695375981,1393185.0,1079619.0,2472804.0
KEW GARDENS,37768679698,32733031884,1217797.0,1227291.0,2445088.0
33 ST,520717676577,560646570708,1377349.0,1067569.0,2444918.0
CROWN HTS-UTICA,79363589543,31421935121,1285254.0,996583.0,2281837.0

In [305]:
all_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1613657 entries, 1436729 to 1436728
Data columns (total 17 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   C/A                 1613657 non-null  object
 1   UNIT                1613657 non-null  object
 2   SCP                 1613657 non-null  object
 3   STATION             1613657 non-null  object
 4   LINENAME            1613657 non-null  object
 5   DIVISION            1613657 non-null  object
 6   DATE                1613657 non-null  object
 7   TIME                1613657 non-null  object
 8   DESC                1613657 non-null  object
 9   ENTRIES             1613657 non-null  int64
 10  EXITS               1613657 non-null  int64
 11  datetime            1613657 non-null  datetime64[ns]
 12  turnstile           1613657 non-null  object
 13  entries_diff        1608763 non-null  float64
 14  exits_diff          1608763 non-null  float64
 15  total_foot_traffic  1608763 non-null  float64
 16  day_of_week         1613657 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(11)
memory usage: 221.6+ MB

In [317]:
(all_data_clean
 .groupby(["C/A", "UNIT", "SCP", "STATION", "datetime"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(5)

          C/A  UNIT       SCP         STATION            datetime  ENTRIES
0        A002  R051  02-00-00           59 ST 2019-04-20 00:00:00        1
1089134  R142  R293  01-06-00  34 ST-PENN STA 2019-05-14 14:00:00        1
1089132  R142  R293  01-06-00  34 ST-PENN STA 2019-05-14 06:00:00        1
1089131  R142  R293  01-06-00  34 ST-PENN STA 2019-05-14 02:00:00        1
1089130  R142  R293  01-06-00  34 ST-PENN STA 2019-05-13 22:00:00        1

In [318]:
turnstiles_daily = (all_data_clean
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily.groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"].apply(lambda grp: grp.shift(1)))

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
  .groupby(["C/A", "UNIT", "SCP", "STATION"])
  .size())

#turnstiles_daily.head(20)

<ipython-input-318-82f08fc87a83>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily.groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"].apply(lambda grp: grp.shift(1)))

C/A   UNIT  SCP       STATION
A025  R023  01-03-01  34 ST-HERALD SQ    55
A038  R085  00-00-01  8 ST-NYU            1
A043  R462  00-06-00  CANAL ST            1
A046  R463  00-00-03  CANAL ST            1
A049  R088  02-05-00  CORTLANDT ST       42
                                         ..
R621  R060  00-03-01  EASTN PKWY-MUSM     2
R622  R123  00-00-00  FRANKLIN AV        55
R629  R065  00-00-00  ROCKAWAY AV         1
R646  R110  01-00-01  FLATBUSH AV-B.C    55
R730  R431  00-00-04  EASTCHSTER/DYRE    51
Length: 481, dtype: int64