In [339]:
### IMPORT PACKAGES ###

import pandas as pd
import numpy as np

In [340]:
### CREATING DATA SOURCE ###

# Import data 
data_apr_27_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190427.txt")
data_may_04_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt")
data_may_11_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190511.txt")
data_may_18_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190518.txt")
data_may_25_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190525.txt")
data_jun_06_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190601.txt")
data_jun_08_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190608.txt")
data_jun_15_19 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190615.txt")

# Combine data
all_data = pd.concat([data_apr_27_19, data_may_04_19, data_may_11_19, data_may_18_19, data_may_25_19
         , data_jun_06_19, data_jun_08_19, data_jun_15_19 ], ignore_index=True)

# Check that data imported successfully
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640586 entries, 0 to 1640585
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count    Dtype
---  ------                                                                --------------    -----
 0   C/A                                                                   1640586 non-null  object
 1   UNIT                                                                  1640586 non-null  object
 2   SCP                                                                   1640586 non-null  object
 3   STATION                                                               1640586 non-null  object
 4   LINENAME                                                              1640586 non-null  object
 5   DIVISION                                                              1640586 non-null  object
 6   DATE                                                                  1640586 non-null  object
 7   TIME                                                                  1640586 non-null  object
 8   DESC                                                                  1640586 non-null  object
 9   ENTRIES                                                               1640586 non-null  int64
 10  EXITS                                                                 1640586 non-null  int64
dtypes: int64(2), object(9)
memory usage: 137.7+ MB

In [342]:
### FILTERING, CLEANING, AND PREPARING DATA ###

# Filter data to only Regular scheduled audit events to remove any possible irregularities from recovered audits
all_data = all_data[all_data['DESC'] == 'REGULAR']

# Clean column names
all_data.columns = [column.strip() for column in all_data.columns]

# Create new variables to make datetime and turnstile easier to work with
all_data['DATETIME'] = pd.to_datetime(all_data['DATE'] + ' ' + all_data['TIME'])
all_data['DAYOFWEEK'] = all_data['DATETIME'].dt.day_name()
all_data['TURNSTILE'] = all_data['C/A'] + all_data['UNIT'] + all_data['SCP'] + all_data['STATION']

# Sort data so it is in order of turnstile and datetime
all_data.sort_values(by = ['TURNSTILE', 'DATETIME'], inplace = True)

# Check for duplicate turnstile/datetime combinations
(all_data
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATETIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(10)

          C/A  UNIT       SCP         STATION            DATETIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2019-04-20 00:00:00        1
1089203  R142  R293  01-06-00  34 ST-PENN STA 2019-05-12 02:00:00        1
1089201  R142  R293  01-06-00  34 ST-PENN STA 2019-05-11 18:00:00        1
1089200  R142  R293  01-06-00  34 ST-PENN STA 2019-05-11 14:00:00        1
1089199  R142  R293  01-06-00  34 ST-PENN STA 2019-05-11 10:00:00        1
1089198  R142  R293  01-06-00  34 ST-PENN STA 2019-05-11 06:00:00        1
1089197  R142  R293  01-06-00  34 ST-PENN STA 2019-05-11 02:00:00        1
1089196  R142  R293  01-06-00  34 ST-PENN STA 2019-05-10 22:00:00        1
1089195  R142  R293  01-06-00  34 ST-PENN STA 2019-05-10 18:00:00        1
1089194  R142  R293  01-06-00  34 ST-PENN STA 2019-05-10 14:00:00        1

In [345]:
### CHECKING FOR IRREGULARITIES IN CUMULATIVE ENTRIES DATA ###

# Aggregate data to daily level
turnstiles_daily = (all_data_clean
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())

# Calculate previous data and previous entries
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily.groupby(["C/A", "UNIT", "SCP", "STATION"])
                        ["DATE", "ENTRIES"].apply(lambda grp: grp.shift(1)))

# Check to see if entries from previous day are ever 
(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
                        .groupby(["C/A", "UNIT", "SCP", "STATION"])
                        .size())

<ipython-input-345-7252ad492d9a>:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily.groupby(["C/A", "UNIT", "SCP", "STATION"])

C/A   UNIT  SCP       STATION
A025  R023  01-03-01  34 ST-HERALD SQ    55
A038  R085  00-00-01  8 ST-NYU            1
A043  R462  00-06-00  CANAL ST            1
A046  R463  00-00-03  CANAL ST            1
A049  R088  02-05-00  CORTLANDT ST       42
                                         ..
R621  R060  00-03-01  EASTN PKWY-MUSM     2
R622  R123  00-00-00  FRANKLIN AV        55
R629  R065  00-00-00  ROCKAWAY AV         1
R646  R110  01-00-01  FLATBUSH AV-B.C    55
R730  R431  00-00-04  EASTCHSTER/DYRE    51
Length: 481, dtype: int64

In [351]:
### TRANSFORMING CUMULATIVE ENTRIES AND EXITS TO NET ENTRIES AND EXITS ###
    ## Due to instances of previous daily turnstile entries that were higher than the current daily entries 
    ## (see cell above), there was evidence that some counters were going backwards. 
    ## Therefore, we used absolute value in net calculations

# Resort data to ensure it is in correct order
all_data.sort_values(by = ['TURNSTILE', 'DATETIME'], inplace = True)

# Net entries and net exit calculations using absolute value
all_data['NET_ENTRIES'] = all_data.groupby('TURNSTILE')['ENTRIES'].diff().abs()
all_data['NET_EXITS'] = all_data.groupby('TURNSTILE')['EXITS'].diff().abs()

# Removing rows with entries or exits above 10,000 since anything over 10,000 entries or exits means that 
# at least 2,500 people went through that turnstile every hour for four hours straight and that seems unrealistic
indexNames = all_data[(all_data['NET_ENTRIES'] > 10000 ) | (all_data['NET_EXITS'] > 10000)].index
all_data_clean = all_data.drop(indexNames)

# Combine net entries and net exits into variable for all foot traffic
all_data_clean['TOTAL_FOOT_TRAFFIC'] = all_data_clean['NET_ENTRIES'] + all_data_clean['NET_EXITS']

# Verify data looks correct
all_data_clean.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,DAYOFWEEK,TURNSTILE,NET_ENTRIES,NET_EXITS,TOTAL_FOOT_TRAFFIC
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,00:00:00,REGULAR,7026702,2382234,2019-04-20 00:00:00,Saturday,A002R05102-00-0059 ST,NaN,NaN,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,04:00:00,REGULAR,7026719,2382240,2019-04-20 04:00:00,Saturday,A002R05102-00-0059 ST,17.0,6.0,23.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,08:00:00,REGULAR,7026737,2382269,2019-04-20 08:00:00,Saturday,A002R05102-00-0059 ST,18.0,29.0,47.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,12:00:00,REGULAR,7026814,2382335,2019-04-20 12:00:00,Saturday,A002R05102-00-0059 ST,77.0,66.0,143.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/20/2019,16:00:00,REGULAR,7027007,2382395,2019-04-20 16:00:00,Saturday,A002R05102-00-0059 ST,193.0,60.0,253.0

In [352]:
# Code used for tables 
all_data_clean.groupby(['STATION', 'DATE']).sum(['NET_ENTRIES', 'NET_EXITS']).sort_values('NET_ENTRIES', ascending = False)

df_weekday = all_data_clean.groupby(['STATION']).sum(['TOTAL_FOOT_TRAFFIC'])

df_weekday.sort_values(['TOTAL_FOOT_TRAFFIC'], ascending = False).head(50)

,ENTRIES,EXITS,NET_ENTRIES,NET_EXITS,TOTAL_FOOT_TRAFFIC
STATION,,,,,
34 ST-PENN STA,1320184649158,1395096774001,8215058.0,7551130.0,15766188.0
GRD CNTRL-42 ST,883735077669,1101475879710,7162035.0,6568945.0,13730980.0
34 ST-HERALD SQ,1566137770660,1963907924717,6129269.0,5610908.0,11740177.0
TIMES SQ-42 ST,2076660452334,1599271654399,5103711.0,4735188.0,9838899.0
14 ST-UNION SQ,240992656454,126495142802,5091185.0,4716003.0,9807188.0
23 ST,1688831497641,1457910805183,5490025.0,3956051.0,9446076.0
42 ST-PORT AUTH,2641286638869,2161924758535,5243505.0,4172865.0,9416370.0
FULTON ST,1541282674973,1574881353108,4625623.0,3920938.0,8546561.0
86 ST,827928707815,893301512906,4256258.0,3897890.0,8154148.0
125 ST,2234655062307,1291510685199,4000657.0,3243642.0,7244299.0
CANAL ST,1367331558995,1836389977675,3806603.0,3009991.0,6816594.0
59 ST COLUMBUS,1142321221007,1001502007380,3601743.0,2941061.0,6542804.0
59 ST,1359040921585,784357144691,3199268.0,2807085.0,6006353.0
14 ST,1534417885704,1082727638841,3160463.0,2637962.0,5798425.0
47-50 STS ROCK,768054540156,766024230834,2828958.0,2913738.0,5742696.0
96 ST,315008106063,59518573505,3174298.0,2537578.0,5711876.0
CHAMBERS ST,1700396454149,1500459000573,2733405.0,2329086.0,5062491.0
FLUSHING-MAIN,73117671929,69913429263,2706627.0,2280689.0,4987316.0
72 ST,1201767232038,1587178830641,2477393.0,2362085.0,4839478.0
PATH NEW WTC,1405276718,1619335998,2494496.0,2273232.0,4767728.0
50 ST,135451490625,124699645682,2544878.0,2021634.0,4566512.0
JKSN HT-ROOSVLT,55516698252,41370215916,2571798.0,1952437.0,4524235.0
28 ST,430876443418,545998686627,2276646.0,2052122.0,4328768.0
W 4 ST-WASH SQ,84753460977,39957864595,2218250.0,2007635.0,4225885.0
ATL AV-BARCLAY,313566064413,91769005504,2183175.0,2015855.0,4199030.0
LEXINGTON AV/53,904728103644,1147846464444,1975341.0,2023881.0,3999222.0
7 AV,77886389876,51825009312,1972454.0,1763760.0,3736214.0
WALL ST,204221742654,126546930123,2005128.0,1726517.0,3731645.0
42 ST-BRYANT PK,560037403083,406962557827,1810913.0,1733090.0,3544003.0
145 ST,320075371518,667128323241,1764809.0,1531994.0,3296803.0
8 AV,68610335596,32095283594,1810269.0,1384697.0,3194966.0
JAY ST-METROTEC,185111386386,27449789653,1951632.0,1215246.0,3166878.0
CHURCH AV,444995597917,582260690283,1777085.0,1302641.0,3079726.0
57 ST-7 AV,21980443004,8938755131,1732543.0,1324091.0,3056634.0
JAMAICA CENTER,465458723853,32485718834,1587002.0,1420302.0,3007304.0
77 ST,97435686757,40958909570,1518945.0,1330722.0,2849667.0
72 ST-2 AVE,46046381455,5938665355,1498117.0,1322704.0,2820821.0
GRAND ST,107728056211,494284211456,1564678.0,1217710.0,2782388.0
BOROUGH HALL,67860299958,22469447145,1650811.0,1116994.0,2767805.0
BOWLING GREEN,798774029861,538787751129,1389061.0,1282872.0,2671933.0
JOURNAL SQUARE,1563080250,894384687,1292193.0,1344799.0,2636992.0
116 ST,198655207701,192893670235,1658707.0,975606.0,2634313.0
B'WAY-LAFAYETTE,670093441078,544469386631,1110218.0,1482363.0,2592581.0
5 AV/53 ST,35890225610,40059878351,1218022.0,1343608.0,2561630.0
103 ST,60817514365,215653679397,1491634.0,1056511.0,2548145.0
KINGS HWY,727272350005,701085965691,1336070.0,1180436.0,2516506.0
DELANCEY/ESSEX,25582312454,21695375981,1393185.0,1079619.0,2472804.0
KEW GARDENS,37768679698,32733031884,1217797.0,1227291.0,2445088.0
33 ST,520717676577,560646570708,1377349.0,1067569.0,2444918.0
CROWN HTS-UTICA,79363589543,31421935121,1285254.0,996583.0,2281837.0