In [8]:
"""
Import NYC home sales data within 2017.
"""
import re
import numpy as np
import pandas as pd

ny_sales_df = pd.read_csv("nyc-rolling-sales.txt")
ny_sales_df.info()

#Clean the Sale Price data and convert to ints
ny_sales_df['SALE PRICE'] = (ny_sales_df['SALE PRICE'].str.replace(r'\D+', '')
                                     .replace('', np.nan)
                                     .str.strip()
                                     .dropna()
                                     .astype(int))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [9]:
"""
Find the median sales price for each zip code.
"""
zip_code_med_sales = ny_sales_df.groupby('ZIP CODE')['SALE PRICE'].median().reset_index()

In [10]:
"""
Create this frame into a CSV for main file to import.
"""
zip_code_med_sales.to_csv("zip_code_to_median_sales.txt",index=False)